<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BLOB_KEY" value="PdpA+IDe5XkRQ/1HYx8CtaPtbMUa+JkydAbrJbv8eKosVuouW6YFARct+QzyhpobHaCjhFzA8RtCA+fyi8tJfw==" />
		<add key="CONTAINER" value="faces" />
		<add key="IMAGE_BASE_URL" value="https://csdx.blob.core.windows.net/resources/Face/Images/" />
		<add key="FACE_URL" value="http://6221faces.blob.core.windows.net/faces/" />
		<add key="DBS_SOURCE" value="csci6221.database.windows.net"/>
		<add key="USERID" value="thompson_e"/>
		<add key ="PASSWORD" value="sc&amp;rp1&amp;N"/>
		<add key="INITIAL" value="CSCI6221Users"/>
    <add key="BLOB_ENDPOINT" value="BlobEndpoint=https://6221faces.blob.core.windows.net/;QueueEndpoint=https://6221faces.queue.core.windows.net/;FileEndpoint=https://6221faces.file.core.windows.net/;TableEndpoint=https://6221faces.table.core.windows.net/;SharedAccessSignature=sv=2020-08-04&amp;ss=bfqt&amp;srt=sco&amp;sp=rwdlacupitfx&amp;se=2022-01-02T00:55:47Z&amp;st=2021-11-10T16:55:47Z&amp;spr=https,http&amp;sig=vo8qUnt8r4fYpaFnUUwAZZ5LhlaM5%2BAqWF5P2vBCHFE%3D" />
	</appSettings>
</configuration>